<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<jmxConfigurator />
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.penfold" level="TRACE" />
	<logger name="console.logger" additivity="false" level="OFF">
		<appender-ref ref="CONSOLE" />
	</logger>
</configuration>